{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "rules": {
    "eol-last": 1,
    "eqeqeq": 1,
    "curly": 1,
    "no-await-in-loop": 1,
    "no-template-curly-in-string": 1,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn", {
        "argsIgnorePattern": "^_$"
      }
    ],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
